{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fitness center</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="/">Fitness Center</a></h1>
      
      <a href="/" class="logo me-auto me-lg-0"><img src="static/assets/img/logo.jpg" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="/gallery">gallery</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
          <li class="dropdown"><a href="#"><span>Membership</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/join">join</a></li>
              <li class="dropdown"><a href="#"><span>Plans For You</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/workout">Workout plans</a></li>
                  <li><a href="/diet">Diet plans</a></li>
                </ul>
              </li>
              <li><a href="/profile">View profile </a></li>
              <li><a href="/attendance">Tracker</a></li>
            </ul>
          </li>
         
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      {% if not request.user.is_authenticated %}

      <a href="/signup" class="get-started-btn scrollto">Sign In</a>
     {% else %}

     <a href="/logout" class="get-started-btn scrollto">Log out</a>


     {% endif %}
      


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center" >
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Shape Your Body With Us</h1>
          <h2>"Commit to be fit! Joining the gym isn't just about shaping your body, it's about shaping your lifestyle. Take the first step towards a healthier, stronger you today."</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="bi bi-brilliance"></i>
            <h3><a>Inspire</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="bi bi-brilliance"></i>
            <h3><a>Transform</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="bi bi-brilliance"></i>
            <h3><a>Energize</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="bi bi-brilliance"></i>
            <h3><a >Empower</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="bi bi-brilliance"></i>
            <h3><a>Dedication</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="static/assets/img/logo.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>"Transform Your Body, Elevate Your Mind: Your Journey Starts Here!"</h3>
            <p class="fst-italic">
              Welcome to fitness center, where fitness meets excellence! Our state-of-the-art facilities, expert trainers, and diverse range of classes make us the ultimate destination for your fitness journey. Whether you're a beginner or a seasoned gym-goer, we have something for everyone. Our goal is not just to help you achieve your fitness goals but to exceed them. With a focus on personalized training programs, nutritional guidance, and a supportive community, we're here to inspire and empower you every step of the way. Join us today and let's embark on this transformative journey together!
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> State-of-the-Art Facilities: Our gym is equipped with the latest in fitness technology and equipment, ensuring that you have everything you need for an effective workout.</li>
              <li><i class="ri-check-double-line"></i> Expert Trainers: Our team of experienced trainers are here to guide you on your fitness journey, offering personalized training programs and expert advice to help you reach your goals.</li>
              <li><i class="ri-check-double-line"></i> Diverse Range of Classes: From high-intensity interval training to yoga and pilates, we offer a wide variety of classes to suit all fitness levels and interests, ensuring that you never get bored with your workout routine.</li>
            </ul>
           
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="static/assets/img/clients/client-1.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-2.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-3.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-4.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-5.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-6.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-7.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-8.jpg" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("static/assets/img/model.jpg");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Quality of Equipment</h4>
              <p>The gym should have a variety of well-maintained equipment for cardio, strength training, and functional exercises to cater to different fitness levels and goals.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Qualified Staff</h4>
              <p>Certified trainers and knowledgeable staff who can provide guidance, support, and assistance to members, ensuring safe and effective workouts.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Cleanliness and Hygiene</h4>
              <p> A clean and hygienic environment, including regularly sanitized equipment, locker rooms, and showers, to promote a healthy workout space.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Accessibility and Convenience</h4>
              <p>Convenient location, ample parking, and flexible hours to accommodate members' schedules, making it easier for them to commit to their fitness routine.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Community and Atmosphere</h4>
              <p> A welcoming and inclusive atmosphere that fosters a sense of community among members, motivating them to stay committed to their fitness journey.
             </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Check our Services</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-universal-access"></i></div>
              <h4><a href="">Personal Training</a></h4>
              <p>Tailored fitness plans and one-on-one coaching to help members reach their fitness goals faster and more effectively.</p>
              <br>
              <br>
              <button onclick="redirectToWhatsApp()" style="background-color: black;  color: white;">More Info</button>

              <script>
                  function redirectToWhatsApp() {
                      var phoneNumber = "9560487163";
                      var message = "Hello I want to know more about the personal training classes";
                      var whatsappUrl = "https://wa.me/" + phoneNumber + "?text=" + message;
                      window.location.href = whatsappUrl;
                  }
              </script>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-people-fill"></i></div>
              <h4><a href="">Group Fitness Classes</a></h4>
              <p>A variety of classes such as yoga, spinning, and HIIT, led by experienced instructors, to provide a fun and motivating workout environment.</p>
              <br>
              <br>
              <button onclick="redirectToWhatsApp()" style="background-color: black;  color: white;">More Info</button>

              <script>
                  function redirectToWhatsApp() {
                      var phoneNumber = "9560487163";
                      var message = "Hello I want to know more about the Group Fitness Classes";
                      var whatsappUrl = "https://wa.me/" + phoneNumber + "?text=" + message;
                      window.location.href = whatsappUrl;
                  }
              </script>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-columns-gap"></i></div>
              <h4><a href="">State-of-the-Art Equipment</a></h4>
              <p> Access to modern cardio and strength training equipment, ensuring members have everything they need for a complete workout.</p>
              <br>
              <br>
              <button onclick="redirectToWhatsApp()" style="background-color: black;  color: white;">More Info</button>

              <script>
                  function redirectToWhatsApp() {
                      var phoneNumber = "9560487163";
                      var message = "Hello I want to know more about the State-of-the-Art Equipment";
                      var whatsappUrl = "https://wa.me/" + phoneNumber + "?text=" + message;
                      window.location.href = whatsappUrl;
                  }
              </script>
            </div>

          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-egg-fried"></i></div>
              <h4><a href="">Nutritional Counseling</a></h4>
              <p> Guidance from experts to help members make healthier food choices and optimize their diet for fitness and well-being.</p>
              <br>
              <br>
              <button onclick="redirectToWhatsApp()" style="background-color: black;  color: white;">More Info</button>

              <script>
                  function redirectToWhatsApp() {
                      var phoneNumber = "9560487163";
                      var message = "Hello I want to know more about the Nutritional Counseling";
                      var whatsappUrl = "https://wa.me/" + phoneNumber + "?text=" + message;
                      window.location.href = whatsappUrl;
                  }
              </script>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Online Workouts</a></h4>
              <p>Virtual classes and training sessions for members who prefer to work out at home or while traveling.</p>
              <br>
              <br>
              <button onclick="redirectToWhatsApp()" style="background-color: black;  color: white;">More Info</button>

              <script>
                  function redirectToWhatsApp() {
                      var phoneNumber = "9560487163";
                      var message = "Hello I want to know more about the Online workout classes";
                      var whatsappUrl = "https://wa.me/" + phoneNumber + "?text=" + message;
                      window.location.href = whatsappUrl;
                  }
              </script>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-broadcast"></i></div>
              <h4><a href="">Community Events</a></h4>
              <p> Organized events, challenges, and social gatherings to build a sense of community among members and keep them engaged and motivated.</p>
              <br>
              <br>
              <button onclick="redirectToWhatsApp()" style="background-color: black;  color: white;">More Info</button>

              <script>
                  function redirectToWhatsApp() {
                      var phoneNumber = "9560487163";
                      var message = "Hello I want to know more about the Community Events";
                      var whatsappUrl = "https://wa.me/" + phoneNumber + "?text=" + message;
                      window.location.href = whatsappUrl;
                  }
              </script>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

   

   

    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 16C Street, New Delhi, ND 110046</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>fit@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>9871501686</p>
              </div>

            </div>

          </div>

          

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Fitness Center<span>.</span></h3>
              <p>
                A108 16C Street, New Delhi, ND 110089 <br>
                ND 110089,India<br><br>
                <strong>Phone:</strong> 9871501686<br>
                <strong>Email:</strong> fit@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
            </ul>
          </div>
          

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Fitness Center</span></strong>. All Rights Reserved
      </div>
      
    </div>
  </footer>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>
  <script>
    window.embeddedChatbotConfig = {
    chatbotId: "twmYzNOw1a2t530SC6H-G",
    domain: "www.chatbase.co"
    }
    </script>
    <script
    src="https://www.chatbase.co/embed.min.js"
    chatbotId="twmYzNOw1a2t530SC6H-G"
    domain="www.chatbase.co"
    defer>
    </script>

</body>

</html>